{% extends "base.html" %}

{% block page_title %}{{ "صفحه اصلی" }}{% endblock %}
{% block content %}

    <div class="my-3 p-3 bg-white rounded box-shadow">
        <h6 class="border-bottom border-gray pb-2 mb-0">آخرین پست های افرادی که دنبال می کنید</h6>
        {% for thread in threads %}
                <div class="media text-muted pt-3">
                    <img data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt="" class="mr-2 rounded">
                    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                        <strong class="d-block text-gray-dark">{{ thread.creator_id }}</strong>
                        {{ thread.title }}
                    </p>
                {% autoescape off %}
                    {{ thread.content }}
                {% endautoescape %}
                </div>
        {% endfor %}
    </div>
{% endblock %}