{% extends "base.html" %}

{% block page_title %}{{ "صفحه اصلی" }}{% endblock %}
{% block content %}

    <div class="my-3 p-3 bg-white rounded box-shadow">
        <h6 class="border-bottom border-gray pb-2 mb-0">آخرین پست های انجمن هایی که دنبال می کنید</h6>
        {% for thread in threads %}
            {% if user in thread.community.subscribed_users %}
                <div class="media text-muted pt-3">
                    <div class="d-flex justify-content-between">
                        <div>
                            <a href="/thread/thread/{{ thread.id }}" style="text-decoration: none; color: inherit">
                                <img data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt=""
                                     class="mr-2 rounded mb-2">
                                <p>
                                    <strong class="d-block text-gray-dark">{{ thread.creator.username }}</strong>

                                </p>
                                <p class="media-body pb-3 mb-0 small lh-125">
                                    {{ thread.title }}
                                </p>
                            </a>
                            <a href="/thread/thread/{{ thread.id }}" style="text-decoration: none; color: inherit">
                                    <button class="btn btn-outline-primary">مشاهده</button>
                                </a>

                        </div>
                        <div>
                            <button class="btn btn-secondary btn-sm" disabled>
                                انجمن: {{ thread.community.name }}</button>
                        </div>
                    </div>
                </div>
                <hr/>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}