{% extends "base.html" %}

{% block page_title %}{{ thread.title }}{% endblock %}
{% block content %}
    <div class="my-3 p-3 bg-white rounded box-shadow">
        {{ thread.title }}
    </div>
    <div class="my-3 p-3 bg-white rounded box-shadow">
        <div class="container-fluid">
            {% autoescape off %}
                {{ thread.content }}
            {% endautoescape %}
        </div>

    </div>
    <div class="my-3 p-3 bg-white rounded box-shadow">
            {% if thread.comments is None or thread.comments|length == 0 %}
            <h2>
                اولین نظر را شما ثبت کنید:
            </h2>
            {% else %}
            <h4>
                ثبت نظر:
            </h4>
            {% endif %}
            <form method="POST" action="/thread/comment/{{ thread.id }}">
                {% csrf_token %}
                    {{ form.content }}
                <button type="submit" class="btn btn-primary m-2">ثبت نظر</button>
            </form>
        </div>
    {% if thread.comments %}
        {% for comment in thread.comments %}
            {% if comment.parent is None %}
            <div class="media bg-white rounded box-shadow p-3 mb-4">
                <div class="d-flex justify-content-between">
                    <img data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt="" class="mr-5 rounded">
                    <button type="button" class="btn btn-outline-primary" onclick="toggleReplyForm({{ comment.id }})">واکنش به این نظر</button>
                </div>
                <div class="media-body">
                    <h5 class="mt-0">{{ comment.commenter.username }}</h5>
                    {% autoescape off %}
                        {{ comment.content }}
                    {% endautoescape %}

                    <form method="POST" action="/thread/comment/{{ thread.id }}" id="replyForm-{{ comment.id }}" style="display: none;">
                        {% csrf_token %}
                        <input name="parent" type="number" value="{{ comment.id }}" hidden>
                        <div style="width: 80%">
                            {{ form.content }}
                            </div>
                        <button type="submit" class="btn btn-primary m-2">ثبت واکنش</button>
                    </form>
                    {% for comment_child in comment.children %}
                        <div class="media mt-3" style="margin-right: 5rem">
                        <a class="pr-3" href="#">
                            <img data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt=""
                                 class=" rounded">
                        </a>
                        <div class="media-body">
                            <h5 class="mt-0">{{ comment_child.commenter.username }}</h5>
                            {% autoescape off %}
                                {{ comment.content }}
                            {% endautoescape %}
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    {% endif %}

    <script>
    function toggleReplyForm(commentId) {
        $(`#replyForm-${commentId}`).toggle();
    }
    </script>
{% endblock %}