{% load static %}

<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>ورود</title>
    <link rel="stylesheet" href={% static "bootstrap.rtl.min.css" %}>
    <link rel="stylesheet" href={% static "index.css" %}>
    <script type="application/javascript" defer="defer" src={% static "bootstrap.min.js" %}></script>
    <script type="application/javascript" defer="defer" src={% static "jquery-3.7.0.min.js" %}></script>
</head>
<body>
<main class="container mt-5">
    {% if message|length > 0 %}
        {% include "includes/alert.html" %}
    {% endif %}
    <form class="form-signin" method="post">
        <div class="container">
            <div class="d-flex flex-column align-items-center justify-content-center">
                <div class="row">
                    <h1 class="h3 mb-3 font-weight-normal">ورود کاربر</h1>
                </div>
                <div class="row col-lg-5 col-sm-12 m-1">
                    <label for="inputEmail" class="sr-only">نام کاربری</label>
                    <input type="text" id="inputEmail" class="form-control" name="username" required autofocus>
                </div>
                <div class="row col-lg-5 col-sm-12 m-1">
                    <label for="inputPassword" class="sr-only">رمز عبور</label>
                    <input type="password" id="inputPassword" class="form-control" name="password" required>
                </div>
                {% csrf_token %}
                <div class="row col-lg-5 col-sm-12 m-1">
                    <button class="btn btn-lg btn-primary btn-block" type="submit">ورود</button>
                </div>
            </div>
        </div>
    </form>
</main>
<script>
    $('alert').show().delay(5000).fadeOut();
</script>
</body>
</html>