{% load static %}

<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>ایجاد کاربر جدید</title>
    <link rel="stylesheet" href={% static "bootstrap.rtl.min.css" %}>
    <link rel="stylesheet" href={% static "index.css" %}>
    <script type="application/javascript" defer="defer" src={% static "bootstrap.min.js" %}></script>
    <script type="application/javascript" defer="defer" src={% static "jquery-3.7.0.min.js" %}></script>
</head>
<body>
<main class="container mt-5">
    {% include "includes/alert.html" %}
    <div class="my-3 p-3 bg-white rounded box-shadow" style="width: 40%; margin-right: auto; margin-left: auto">
        <form class="form-signin" method="post" enctype="multipart/form-data">
            <h1 class="h3 mb-3 font-weight-normal">ایجاد کاربر جدید</h1>
            <div class="form-group mb-3">
                <label for="username" class="form-label">نام کاربری</label>
                <input type="text" id="username" class="form-control" name="username" required autofocus>
            </div>
            <div class="form-group mb-3">
                <label for="inputPassword" class="form-label">رمز عبور</label>
                <input type="password" id="inputPassword" class="form-control" name="password" required>
            </div>
            <div class="form-group mb-3">
                <label for="inputPassword" class="form-label">تکرار رمز عبور</label>
                <input type="password" id="inputPassword" class="form-control" name="re_enter_password" required>
            </div>
            <div class="mb-3">
                <label for="formFile" class="form-label">عکس پروفایل</label>
                <input class="form-control" type="file" id="formFile" name="picture">
            </div>
            {% csrf_token %}
            <button class="btn btn-lg btn-primary btn-block" type="submit" style="width: 100%;">ایجاد کردن</button>
        </form>
    </div>
</main>
<script>
    $('alert').show().delay(5000).fadeOut();
</script>
</body>
</html>