{% load static %}

<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>{% block page_title %}{% endblock %}</title>
    <link rel="stylesheet" href={% static "bootstrap.rtl.min.css" %}>
    <link rel="stylesheet" href={% static "index.css" %}>
    <script type="application/javascript" defer="defer" src={% static "bootstrap.min.js" %}></script>
    <script type="application/javascript" defer="defer" src={% static "holder.min.js" %}></script>
    <script type="application/javascript" defer="defer" src={% static "jquery-3.7.0.min.js" %}></script>
    {{ form.media }}
    <script>
        tinyMCE.init({
            selector: ".editor",
            directionality: 'rtl',
            language: 'fa'
        });
    </script>
</head>
<body class="bg-light">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">مای فروم</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                {% with request.resolver_match.url_name as url_name %}
                    <li class="nav-item">
                        <a class="nav-link {% if url_name == 'main-page' %}active{% endif %}" aria-current="page"
                           href="/thread">صفحه ی اصلی</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if url_name == 'new-thread' %}active{% endif %}"
                           href="/thread/new-thread">گفتگو جدید</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if url_name == 'main-community' %}active{% endif %}" href="/community">انجمن
                            ها</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/authentication/logout">خروج</a>
                    </li>
                {% endwith %}
            </ul>
        </div>
    </div>
</nav>
<main class="container mt-5">
    {% include "includes/alert.html" %}

    {% block content %}{% endblock %}
</main>
<script>
    setTimeout(() => {
        $('#alert').fadeOut('fast');
    }, 5000);
</script>
</body>
</html>