{% load static %}

<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>{% block page_title %}{% endblock %}</title>
    <link rel="stylesheet" href={% static "bootstrap.rtl.min.css" %}>
    <link rel="stylesheet" href={% static "index.css" %}>
    <script type="application/javascript" defer="defer" src={% static "bootstrap.min.js" %}></script>
    <script type="application/javascript" defer="defer" src={% static "holder.min.js" %}></script>
    <script type="application/javascript" defer="defer" src={% static "jquery-3.7.0.min.js" %}></script>
    {{ form.media }}
</head>
<body class="bg-light">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">مای فروم</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/main">صفحه ی اصلی</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/main/new-thread">گفتگو جدید</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">مباحث من</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">افرادی که دنبال می کنید</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/authentication/logout">خروج</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<main class="container mt-5">
    {% if message|length > 0 %}
        {% include "includes/alert.html" %}
    {% endif %}

    {% block content %}{% endblock %}
</main>
<script>
    $('alert').show().delay(5000).fadeOut();
</script>
</body>
</html>